config:
  cluster:
    enabled: true
    port: 6222
    replicas: 3
  jetstream:
    enabled: false
  nats:
    port: 4222
  monitor:
    enabled: true
    port: 8222

container:
  image:
    repository: nats
    tag: 2.10.22-alpine
  resources:
    requests:
      cpu: 250m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

reloader:
  enabled: true
  image:
    repository: natsio/nats-server-config-reloader
    tag: 0.21.1

promExporter:
  enabled: true
  image:
    repository: natsio/prometheus-nats-exporter
    tag: 0.18.0
  port: 7777
  podMonitor:
    enabled: true

service:
  enabled: true
  ports:
    nats:
      enabled: true
    cluster:
      enabled: false
    monitor:
      enabled: true

podTemplate:
  topologySpreadConstraints:
    kubernetes.io/hostname:
      maxSkew: 1
      whenUnsatisfiable: ScheduleAnyway

podDisruptionBudget:
  enabled: true

natsBox:
  enabled: false
