deploymentMode: SingleBinary

loki:
  auth_enabled: false

  memcached:
    chunk_cache:
      enabled: false
    results_cache:
      enabled: false

  commonConfig:
    replication_factor: 1

  storage:
    type: 'filesystem'

  schemaConfig:
    configs:
      - from: '2024-01-01'
        store: tsdb
        index:
          prefix: loki_index_
          period: 24h
        object_store: filesystem
        schema: v13

  limits_config:
    retention_period: 30d
    max_query_lookback: 30d

  rulerConfig:
    enable_api: false
    storage:
      type: local

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    storageClass: loki
    size: 10Gi
  nodeSelector:
    kubernetes.io/hostname: max-worker-3
  resources:
    requests:
      cpu: '100m'
      memory: '256Mi'
    limits:
      cpu: '500m'
      memory: '512Mi'
read:
  replicas: 0
backend:
  replicas: 0
write:
  replicas: 0

test:
  enabled: false

lokiCanary:
  enabled: false

resultsCache:
  enabled: false

chunksCache:
  enabled: false

gateway:
  enabled: false
