# k8s
charts
*.tgz
sealed-secrets-key*.yaml
secret.yaml

# python
.venv/
__pycache__
.env
k3s/bootstrap/bootstrap-output/
k3s/bootstrap/bootstrap-all.sh
k3s/bootstrap/node/network-watchdog.env

# pg
postgres-dumpall*.sql

# wrangler
.wrangler