[Unit]
Description=Uncordon node after reboot
After=k3s.service
Requires=k3s.service

[Service]
Type=oneshot
ExecStartPre=sleep 60
ExecStart=kubectl uncordon $(hostname)
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
