extraScrapeConfigs: |
  - job_name: ages
    metrics_path: /metrics
    scheme: http
    static_configs:
      - targets:
          - ages.apps.svc.cluster.local:9113

  - job_name: squares
    metrics_path: /metrics
    scheme: http
    static_configs:
      - targets:
          - squares.squares.svc.cluster.local:9113

  - job_name: squares-api
    metrics_path: /metrics
    scheme: http
    static_configs:
      - targets:
          - squares-api.squares.svc.cluster.local:2112

  - job_name: redis
    metrics_path: /metrics
    scheme: http
    static_configs:
      - targets:
          - redis-metrics.redis.svc.cluster.local:9121

server:
  name: server
  image:
    repository: quay.io/prometheus/prometheus
    pullPolicy: Always
  global:
    scrape_interval: 90s
    scrape_timeout: 30s
    evaluation_interval: 90s
  persistentVolume:
    storageClass: longhorn
  ingress:
    enabled: false
  replicaCount: 1
  readinessProbeInitialDelay: 30
  readinessProbePeriodSeconds: 5
  readinessProbeTimeout: 4
  readinessProbeFailureThreshold: 3
  readinessProbeSuccessThreshold: 1
  livenessProbeInitialDelay: 30
  livenessProbePeriodSeconds: 15
  livenessProbeTimeout: 10
  livenessProbeFailureThreshold: 3
  livenessProbeSuccessThreshold: 1
  startupProbe:
    enabled: true
    periodSeconds: 5
    failureThreshold: 30
    timeoutSeconds: 10
  resources:
    limits:
      cpu: 250m
      memory: 1Gi
    requests:
      cpu: 250m
      memory: 1Gi
  securityContext:
    runAsUser: 65534
    runAsNonRoot: true
    runAsGroup: 65534
    fsGroup: 65534
  service:
    enabled: true
    servicePort: 80
    type: ClusterIP
  retention: '14d'

alertmanager:
  resources:
    limits:
      cpu: 50m
      memory: 64Mi
    requests:
      cpu: 50m
      memory: 64Mi
  image:
    pullPolicy: Always

prometheus-node-exporter:
  resources:
    limits:
      cpu: 50m
      memory: 64Mi
    requests:
      cpu: 50m
      memory: 64Mi
  image:
    pullPolicy: Always

kube-state-metrics:
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 50m
      memory: 64Mi
  image:
    pullPolicy: Always

configmapReload:
  prometheus:
    resources:
      limits:
        cpu: 50m
        memory: 64Mi
      requests:
        cpu: 50m
        memory: 64Mi

prometheus-pushgateway:
  enabled: false
