fullnameOverride: 'keycloak'

image:
  repository: quay.io/keycloak/keycloak
  tag: '26.4.6'
  pullPolicy: Always

command:
  - '/opt/keycloak/bin/kc.sh'

args:
  - 'start'
  - '--https-certificate-file=/opt/keycloak/conf/certs/tls.crt'
  - '--https-certificate-key-file=/opt/keycloak/conf/certs/tls.key'
  - '--spi-theme-static-max-age=-1'
  - '--spi-theme-cache-themes=false'
  - '--spi-theme-cache-templates=false'

extraEnv: |
  - name: KC_HOSTNAME
    value: auth.maxstash.io
  - name: KC_HOSTNAME_STRICT_HTTPS
    value: 'true'

extraInitContainers: |
  - name: keycloak-theme
    image: maxmorhardt/maxstash-keycloakify:latest
    imagePullPolicy: Always
    securityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      capabilities:
        drop:
          - ALL
      seccompProfile:
        type: RuntimeDefault
    command:
      - /bin/sh
      - -c
      - cp -r /maxstash-keycloakify/* /opt/keycloak/themes/maxstash-keycloakify
    volumeMounts:
      - name: theme
        mountPath: /opt/keycloak/themes/maxstash-keycloakify

extraVolumes: |
  - name: theme
    emptyDir: {}
  - name: keycloak-tls
    secret:
      secretName: keycloak-tls
      defaultMode: 0400

extraVolumeMounts: |
  - name: theme
    mountPath: /opt/keycloak/themes/maxstash-keycloakify
  - name: keycloak-tls
    mountPath: /opt/keycloak/conf/certs
    readOnly: true

podSecurityContext:
  fsGroup: 1000

securityContext:
  runAsUser: 1000
  runAsNonRoot: true
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  seccompProfile:
    type: RuntimeDefault

resources:
  limits:
    cpu: 1000m
    memory: 768Mi
  requests:
    cpu: 500m
    memory: 768Mi

database:
  vendor: postgres
  hostname: db-postgresql.maxstash-global.svc.cluster.local
  port: 5432
  database: keycloak
  username: keycloak
  existingSecret: keycloak-credentials
  existingSecretKey: db-password

cache:
  stack: default

proxy:
  enabled: true
  mode: forwarded

metrics:
  enabled: true

health:
  enabled: true

http:
  relativePath: '/'
  internalScheme: HTTPS

startupProbe: |
  httpGet:
    path: /health
    port: http-internal
    scheme: HTTPS
  initialDelaySeconds: 30
  timeoutSeconds: 5
  failureThreshold: 120
  periodSeconds: 5

service:
  type: ClusterIP
  httpPort: 80
  httpsPort: 8443

ingress:
  enabled: true
  ingressClassName: nginx
  servicePort: https
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: 'true'
    nginx.ingress.kubernetes.io/backend-protocol: 'HTTPS'
  rules:
    - host: auth.maxstash.io
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - auth.maxstash.io
      secretName: maxstash.io-tls

podDisruptionBudget:
  minAvailable: 1

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 4
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 100
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 100
  behavior:
    scaleUp:
      stabilizationWindowSeconds: 600
      policies:
        - type: Percent
          value: 50
          periodSeconds: 60
    scaleDown:
      stabilizationWindowSeconds: 600
      policies:
        - type: Pods
          value: 1
          periodSeconds: 300

networkPolicy:
  enabled: false

serviceMonitor:
  enabled: false
