replicas: 1

deploymentStrategy:
  type: Recreate

readinessProbe:
  httpGet:
    path: /api/health
    port: 3000

livenessProbe:
  httpGet:
    path: /api/health
    port: 3000
  initialDelaySeconds: 60
  timeoutSeconds: 30
  failureThreshold: 10

image:
  registry: docker.io
  repository: grafana/grafana
  tag: ""
  pullPolicy: Always

securityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000

containerSecurityContext:
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  seccompProfile:
    type: RuntimeDefault

envFrom:
  - secretRef:
      name: grafana-env

service:
  enabled: true
  type: ClusterIP
  port: 80
  portName: service

ingress:
  enabled: true
  ingressClassName: nginx
  annotations: {}
  labels: {}
  path: /
  pathType: Prefix
  hosts:
    - grafana.maxstash.io
  tls:
    - secretName: maxstash.io-tls
      hosts:
        - grafana.maxstash.io

resources:
  limits:
    cpu: 250m
    memory: 500Mi
  requests:
    cpu: 250m
    memory: 500Mi

persistence:
  enabled: false

initChownData:
  enabled: false

admin:
  existingSecret: grafana-credentials
  userKey: admin-user
  passwordKey: admin-password

grafana.ini:
  paths:
    data: /var/lib/grafana/
    logs: /var/log/grafana
    plugins: /var/lib/grafana/plugins
    provisioning: /etc/grafana/provisioning
  analytics:
    check_for_updates: true
  database:
    type: postgres
    host: postgres-rw.cnpg-database.svc.cluster.local:5432
    name: grafana
    user: grafana
    password: ${GRAFANA_DATABASE_PASSWORD}
    ssl_mode: disable
    max_open_conn: 25
    max_idle_conn: 5
    conn_max_lifetime: 14400
  log:
    mode: console
  grafana_net:
    url: https://grafana.net
  server:
    domain: "{{ if (and .Values.ingress.enabled .Values.ingress.hosts) }}{{ tpl (.Values.ingress.hosts | first) . }}{{ else }}''{{ end }}"
    root_url: https://grafana.maxstash.io
  auth.generic_oauth:
    enabled: true
    name: maxstash
    allow_sign_up: true
    client_id: ${GRAFANA_CLIENT_ID}
    client_secret: ${GRAFANA_CLIENT_SECRET}
    scopes: openid email profile offline_access
    email_attribute_path: email
    login_attribute_path: username
    name_attribute_path: full_name
    auth_url: https://login.maxstash.io/application/o/authorize/
    token_url: https://login.maxstash.io/application/o/token/
    api_url: https://login.maxstash.io/application/o/userinfo/
    role_attribute_path: contains(groups[*], 'grafana-admin') && 'Admin' || 'Viewer'
