global:
  security:
    allowInsecureImages: true
  image:
    pullPolicy: Always
  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: kubernetes.io/hostname
      whenUnsatisfiable: ScheduleAnyway
  deploymentStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  volumes:
    - name: media
      emptyDir: {}
  volumeMounts:
    - name: media
      mountPath: /media

authentik:
  enabled: false
  log_level: info

server:
  enabled: true
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 4
    targetCPUUtilizationPercentage: 85
    targetMemoryUtilizationPercentage: 85
  pdb:
    enabled: true
    minAvailable: 1
  initContainers:
    - name: clone-assets
      image: alpine/git:latest
      command:
        - sh
        - -c
        - |
          git clone https://github.com/maxmorhardt/assets /media
      volumeMounts:
        - name: media
          mountPath: /media
  resources:
    requests:
      cpu: 1
      memory: 1Gi
    limits:
      cpu: 1
      memory: 1Gi
  containerPorts:
    http: 9000
    https: 9443
    metrics: 9300
  livenessProbe:
    failureThreshold: 3
    initialDelaySeconds: 5
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 3
    httpGet:
      path: '{{ .Values.authentik.web.path }}-/health/live/'
      port: http
  readinessProbe:
    failureThreshold: 3
    initialDelaySeconds: 5
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 3
    httpGet:
      path: '{{ .Values.authentik.web.path }}-/health/ready/'
      port: http
  startupProbe:
    failureThreshold: 60
    initialDelaySeconds: 5
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 3
    httpGet:
      path: '{{ .Values.authentik.web.path }}-/health/live/'
      port: http
  service:
    servicePortHttp: 80
    servicePortHttps: 443
    servicePortHttpName: http
    servicePortHttpsName: https
  ingress:
    enabled: true
    ingressClassName: 'nginx'
    annotations:
      nginx.ingress.kubernetes.io/configuration-snippet: |
        add_header Content-Security-Policy "frame-ancestors 'self' https://maxstash.io https://*.maxstash.io http://localhost:*;" always;
    hosts:
      - login.maxstash.io
    paths:
      - '{{ .Values.authentik.web.path }}'
    pathType: Prefix
    tls:
      - secretName: maxstash.io-tls
        hosts:
          - login.maxstash.io
worker:
  enabled: true
  replicas: 2
  autoscaling:
    enabled: false
  pdb:
    enabled: true
    minAvailable: 1
  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: 250m
      memory: 512Mi
  containerPorts:
    http: 9000
    metrics: 9300
  livenessProbe:
    failureThreshold: 3
    initialDelaySeconds: 5
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 15
    exec:
      command:
        - ak
        - healthcheck
  readinessProbe:
    failureThreshold: 3
    initialDelaySeconds: 5
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 15
    exec:
      command:
        - ak
        - healthcheck
  startupProbe:
    failureThreshold: 90
    initialDelaySeconds: 30
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 15
    exec:
      command:
        - ak
        - healthcheck

serviceAccount:
  create: true

geoip:
  enabled: false

prometheus:
  rules:
    enabled: false

postgresql:
  enabled: false
