global:
  security:
    allowInsecureImages: true

  revisionHistoryLimit: 3

  image:
    repository: ghcr.io/goauthentik/server
    tag: ''
    pullPolicy: Always

  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000

  affinity:
    podAntiAffinity: soft

  volumes:
    - name: assets
      emptyDir: {}

  volumeMounts:
    - name: assets
      mountPath: /var/lib/authentik/static

authentik:
  enabled: false
  log_level: info

server:
  enabled: true
  initContainers:
    - name: clone-assets
      image: alpine/git:latest
      command:
        - sh
        - -c
        - |
          git clone https://github.com/maxmorhardt/assets /tmp/assets
          cp -r /tmp/assets/* /assets/
      volumeMounts:
        - name: assets
          mountPath: /assets
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 3
    targetCPUUtilizationPercentage: 85
    targetMemoryUtilizationPercentage: 85

  pdb:
    enabled: true
    minAvailable: 1

  image:
    pullPolicy: Always

  resources:
    requests:
      cpu: 1
      memory: 1Gi
    limits:
      cpu: 1
      memory: 1Gi

  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/component
                  operator: In
                  values:
                    - server
            topologyKey: kubernetes.io/hostname

  containerPorts:
    http: 9000
    https: 9443
    metrics: 9300

  livenessProbe:
    failureThreshold: 3
    initialDelaySeconds: 5
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 3
    httpGet:
      path: '{{ .Values.authentik.web.path }}-/health/live/'
      port: http

  readinessProbe:
    failureThreshold: 3
    initialDelaySeconds: 5
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 3
    httpGet:
      path: '{{ .Values.authentik.web.path }}-/health/ready/'
      port: http

  startupProbe:
    failureThreshold: 60
    initialDelaySeconds: 5
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 3
    httpGet:
      path: '{{ .Values.authentik.web.path }}-/health/live/'
      port: http

  service:
    servicePortHttp: 80
    servicePortHttps: 443
    servicePortHttpName: http
    servicePortHttpsName: https

  metrics:
    enabled: false
    service:
      servicePort: 9300
      portName: metrics
    serviceMonitor:
      enabled: false

  ingress:
    enabled: true
    ingressClassName: 'nginx'
    hosts:
      - login.maxstash.io
    paths:
      - '{{ .Values.authentik.web.path }}'
    pathType: Prefix
    tls:
      - secretName: maxstash.io-tls
        hosts:
          - login.maxstash.io
    https: false

worker:
  enabled: true

  initContainers:
    - name: clone-assets
      image: alpine/git:latest
      command:
        - sh
        - -c
        - |
          git clone https://github.com/maxmorhardt/assets /tmp/assets
          cp -r /tmp/assets/* /assets/
      volumeMounts:
        - name: assets
          mountPath: /assets

  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 3
    targetCPUUtilizationPercentage: 85
    targetMemoryUtilizationPercentage: 85

  pdb:
    enabled: true
    minAvailable: 1

  image:
    pullPolicy: Always

  resources:
    requests:
      cpu: 500m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 512Mi

  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/component
                  operator: In
                  values:
                    - worker
            topologyKey: kubernetes.io/hostname

  containerPorts:
    http: 9000
    metrics: 9300

  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000

  livenessProbe:
    failureThreshold: 3
    initialDelaySeconds: 5
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 3
    exec:
      command:
        - ak
        - healthcheck

  readinessProbe:
    failureThreshold: 3
    initialDelaySeconds: 5
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 3
    exec:
      command:
        - ak
        - healthcheck

  startupProbe:
    failureThreshold: 60
    initialDelaySeconds: 30
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 3
    exec:
      command:
        - ak
        - healthcheck

  metrics:
    enabled: false
    service:
      servicePort: 9300
      portName: metrics

serviceAccount:
  create: true

geoip:
  enabled: false

prometheus:
  rules:
    enabled: false

postgresql:
  enabled: false
