global:
  security:
    allowInsecureImages: true

  revisionHistoryLimit: 3

  image:
    repository: ghcr.io/goauthentik/server
    tag: ''
    pullPolicy: Always

  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000

  tolerations: []

  affinity:
    podAntiAffinity: soft
    nodeAffinity:
      type: hard
      matchExpressions:
        []

  env:
    []
    # - name: AUTHENTIK_VAR_NAME
    #   value: VALUE
    # - name: AUTHENTIK_VAR_OTHER
    #   valueFrom:
    #     secretKeyRef:
    #       name: secret-name
    #       key: secret-key
    # - name: AUTHENTIK_VAR_ANOTHER
    #   valueFrom:
    #     configMapKeyRef:
    #       name: config-map-name
    #       key: config-map-key

  # -- envFrom to pass to all deployed Deployments. Does not apply to GeoIP
  # @default -- `[]` (See [values.yaml])
  envFrom:
    []
    # - configMapRef:
    #     name: config-map-name
    # - secretRef:
    #     name: secret-name

  # -- Additional volumeMounts to all deployed Deployments. Does not apply to GeoIP
  # @default -- `[]` (See [values.yaml])
  volumeMounts:
    []
    # - name: custom
    #   mountPath: /custom

  # -- Additional volumes to all deployed Deployments.
  # @default -- `[]` (See [values.yaml])
  volumes:
    []
    # - name: custom
    #   emptyDir: {}

authentik:
  enabled: true
  log_level: info
  secret_key: 'CHANGE-ME-GENERATE-RANDOM-KEY'
  postgresql:
    host: 'db-postgresql.db.svc.cluster.local'
    name: 'authentik'
    port: 5432

server:
  enabled: true

  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 3
    targetCPUUtilizationPercentage: 85
    targetMemoryUtilizationPercentage: 85

  pdb:
    enabled: true
    minAvailable: 1

  image:
    pullPolicy: Always

  resources:
    requests:
      cpu: 1
      memory: 1Gi
    limits:
      cpu: 1
      memory: 1Gi

  containerPorts:
    http: 9000
    https: 9443
    metrics: 9300

  containerSecurityContext:
    runAsNonRoot: true
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
    seccomProfile:
      type: RuntimeDefault
    capabilities:
      drop:
        - ALL

  livenessProbe:
    failureThreshold: 3
    initialDelaySeconds: 5
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 3
    httpGet:
      path: '{{ .Values.authentik.web.path }}-/health/live/'
      port: http

  readinessProbe:
    failureThreshold: 3
    initialDelaySeconds: 5
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 3
    httpGet:
      path: '{{ .Values.authentik.web.path }}-/health/ready/'
      port: http

  startupProbe:
    failureThreshold: 60
    initialDelaySeconds: 5
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 3
    httpGet:
      path: '{{ .Values.authentik.web.path }}-/health/live/'
      port: http

  terminationGracePeriodSeconds: 30

  tolerations: []
  affinity: {}

  service:
    servicePortHttp: 80
    servicePortHttps: 443
    servicePortHttpName: http
    servicePortHttpsName: https

  metrics:
    enabled: false
    service:
      type: ClusterIP
      clusterIP: ''
      annotations: {}
      labels: {}
      servicePort: 9300
      portName: metrics
    serviceMonitor:
      enabled: false

  ingress:
    enabled: true
    ingressClassName: 'nginx'
    hosts:
      - login.maxstash.io
    paths:
      - '{{ .Values.authentik.web.path }}'
    pathType: Prefix
    tls:
      - secretName: maxstash.io-tls
        hosts:
          - login.maxstash.io
    https: false

worker:
  enabled: true
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 3
    targetCPUUtilizationPercentage: 90
    targetMemoryUtilizationPercentage: 90
    behavior:
      scaleDown:
        stabilizationWindowSeconds: 300
        policies:
          - type: Pods
            value: 1
            periodSeconds: 180
      scaleUp:
        stabilizationWindowSeconds: 300
        policies:
          - type: Pods
            value: 2
            periodSeconds: 60

  pdb:
    enabled: true
    minAvailable: 1

  image:
    pullPolicy: Always

  resources:
    requests:
      cpu: 500m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 512Mi

  containerPorts:
    http: 9000
    metrics: 9300

  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000

  containerSecurityContext:
    runAsNonRoot: true
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
    seccomProfile:
      type: RuntimeDefault
    capabilities:
      drop:
        - ALL

  livenessProbe:
    failureThreshold: 3
    initialDelaySeconds: 5
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 3
    exec:
      command:
        - ak
        - healthcheck

  readinessProbe:
    failureThreshold: 3
    initialDelaySeconds: 5
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 3
    exec:
      command:
        - ak
        - healthcheck

  startupProbe:
    failureThreshold: 60
    initialDelaySeconds: 30
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 3
    exec:
      command:
        - ak
        - healthcheck

  affinity: {}

  metrics:
    enabled: false
    service:
      servicePort: 9300
      portName: metrics

serviceAccount:
  create: true

geoip:
  enabled: false

prometheus:
  rules:
    enabled: false

postgresql:
  enabled: false