zitadel:
  configmapConfig:
    ExternalSecure: true
    ExternalDomain: 'login.maxstash.io'
    TLS:
      Enabled: false
  masterkeySecretName: zitadel-masterkey
  revisionHistoryLimit: 2
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 4
    targetCPU: 85
    targetMemory: 85
  selfSignedCert:
    enabled: true

login:
  enabled: true
  pdb:
    enabled: true
    minAvailable: 1
    maxUnavailable: null
  image:
    repository: ghcr.io/zitadel/zitadel-login
    pullPolicy: IfNotPresent
    tag: ''
  ingress:
    enabled: true
    className: nginx
    hosts:
      - paths:
          - path: /ui/v2/login
            pathType: Prefix
        tls:
          - hosts:
              - login.maxstash.io
            secretName: maxstash.io-tls
  serviceAccount:
    create: true
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 256Mi

  revisionHistoryLimit: 2

  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 4
    targetCPU: 85
    targetMemory: 85

  livenessProbe:
    enabled: true
    initialDelaySeconds: 0
    periodSeconds: 5
    failureThreshold: 10
image:
  repository: ghcr.io/zitadel/zitadel
  pullPolicy: IfNotPresent
  tag: ''

serviceAccount:
  create: true

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  fsGroup: 1000

securityContext:
  runAsNonRoot: true
  runAsUser: 1000
  readOnlyRootFilesystem: true
  privileged: false

envVarsSecret: zitadel-env

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: 'GRPC'
  hosts:
    - paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - login.maxstash.io
      secretName: maxstash.io-tls

resources:
  requests:
    cpu: 250m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

metrics:
  enabled: true
  serviceMonitor:
    enabled: true
    honorLabels: false
    honorTimestamps: true
    namespace: null
    scheme: null

pdb:
  enabled: true
  minAvailable: 1
  maxUnavailable: null
