controller:
  javaOpts: '-Duser.timezone=America/New_York -Dsun.net.client.defaultConnectTimeout=60000 -Dsun.net.client.defaultReadTimeout=60000'
  componentName: 'jenkins-controller'
  image:
    registry: 'docker.io'
    repository: 'jenkins/jenkins'
    tag: latest-jdk21
    pullPolicy: 'Always'

  sidecars:
    configAutoReload:
      image:
        tag: 1.30.7
      imagePullPolicy: Always
      resources:
        limits:
          cpu: 100m
          memory: 100Mi
        requests:
          cpu: 50m
          memory: 50Mi
  admin:
    createSecret: false
    existingSecret: jenkins
    userKey: jenkins-admin-user
    passwordKey: jenkins-admin-password

  resources:
    requests:
      cpu: 750m
      memory: 1Gi
    limits:
      cpu: 750m
      memory: 1Gi

  usePodSecurityContext: true
  runAsUser: 1000
  fsGroup: 1000

  containerEnv:
    - name: JENKINS_ADMIN_USERNAME
      valueFrom:
        secretKeyRef:
          name: jenkins
          key: jenkins-admin-user
    - name: JENKINS_ADMIN_PASSWORD
      valueFrom:
        secretKeyRef:
          name: jenkins
          key: jenkins-admin-password

  containerSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false

  serviceType: ClusterIP

  servicePort: 8080
  targetPort: 8080

  nodeSelector:
    kubernetes.io/hostname: max-worker-2

  healthProbes: true
  probes:
    startupProbe:
      failureThreshold: 12
      httpGet:
        path: '{{ default "" .Values.controller.jenkinsUriPrefix }}/login'
        port: http
      periodSeconds: 10
      timeoutSeconds: 5
    livenessProbe:
      failureThreshold: 5
      httpGet:
        path: '{{ default "" .Values.controller.jenkinsUriPrefix }}/login'
        port: http
      periodSeconds: 10
      timeoutSeconds: 5
    readinessProbe:
      failureThreshold: 3
      httpGet:
        path: '{{ default "" .Values.controller.jenkinsUriPrefix }}/login'
        port: http
      periodSeconds: 10
      timeoutSeconds: 5

  installPlugins:
    - kubernetes:4398.vb_b_33d9e7fe23
    - workflow-aggregator:608.v67378e9d3db_1
    - git:5.8.1
    - docker-workflow:634.vedc7242b_eda_7
    - configuration-as-code:2006.v001a_2ca_6b_574
    - saml:4.590.v6170b_1013da_f
    - role-strategy:848.va_a_ea_673cf0b_c
    - pipeline-stage-view:2.38
    - github-branch-source:1925.v62fb_7ffb_08ce
    - prometheus:819.v50953a_c560dd
    - htmlpublisher:427
  installLatestPlugins: true
  installLatestSpecifiedPlugins: false

  JCasC:
    securityRealm: |
      saml:
        displayNameAttributeName: "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"
        emailAttributeName: "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress"
        groupsAttributeName: "http://schemas.xmlsoap.org/claims/Group"
        idpMetadataConfiguration:
          url: "https://login.maxstash.io/application/saml/jenkins/metadata/"
        maximumAuthenticationLifetime: 86400
        usernameAttributeName: "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"
        usernameCaseConversion: "none"
        binding: "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST"
        encryptionData:
          forceAuthn: false
          spEntityId: "https://jenkins.maxstash.io"
        advancedConfiguration:
          forceAuthn: false
          authnContextClassRef: ""
          spMetadataEntityId: "https://jenkins.maxstash.io"
        logout:
          url: "https://login.maxstash.io/application/saml/jenkins/slo/"
          binding: "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST"

    authorizationStrategy: |
      roleBased:
        roles:
          global:
            - name: "admin"
              description: "Jenkins administrators"
              permissions:
                - "Overall/Administer"
              entries:
                - group: "jenkins-admin"

  ingress:
    enabled: true
    apiVersion: 'networking.k8s.io/v1'
    labels: {}
    annotations: {}
    ingressClassName: nginx
    path: /
    hostName: jenkins.maxstash.io
    resourceRootUrl:
    tls:
      - secretName: maxstash.io-tls
        hosts:
          - jenkins.maxstash.io

persistence:
  enabled: true
  storageClass: jenkins
  accessMode: 'ReadWriteOnce'
  size: 8Gi

serviceAccount:
  create: false
  name: jenkins
