image:
  registry: docker.io
  repository: library/postgres
  tag: 16.7-alpine
  pullPolicy: Always

global:
  storageClass: postgres
  postgresql:
    auth:
      username: maxmorhardt
      database: maxstash
      existingSecret: postgres-credentials
      secretKeys:
        adminPasswordKey: admin-password
        userPasswordKey: user-password

primary:
  service:
    type: NodePort
    nodePorts:
      postgresql: 5432

  nodeSelector:
    kubernetes.io/hostname: max-worker

  persistence:
    size: 256Gi

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 2
      memory: 2Gi

metrics:
  enabled: true
