type: postgresql

version:
  postgresql: '18'

mode: standalone

cluster:
  instances: 3

  imagePullPolicy: Always

  storage:
    size: 64Gi
    storageClass: postgres

  walStorage:
    enabled: false

  postgresUID: 1000
  postgresGID: 1000

  resources:
    limits:
      cpu: 1
      memory: 2Gi
    requests:
      cpu: 1
      memory: 2Gi

  primaryUpdateMethod: switchover
  primaryUpdateStrategy: unsupervised
  logLevel: 'info'

  affinity:
    topologyKey: topology.kubernetes.io/zone
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: kubernetes.io/hostname
                operator: NotIn
                values:
                  - max-master

  env: []
  envFrom: []

  enableSuperuserAccess: true
  superuserSecret: 'postgres-superuser'

  enablePDB: true

  monitoring:
    enabled: true
    podMonitor:
      enabled: true
    prometheusRule:
      enabled: false

  postgresql:
    parameters:
      max_connections: '300'
      shared_buffers: '512MB'
      effective_cache_size: '1536MB'
      maintenance_work_mem: '128MB'
      checkpoint_completion_target: '0.9'
      wal_buffers: '16MB'
      default_statistics_target: '100'
      random_page_cost: '1.1'
      effective_io_concurrency: '200'
      work_mem: '3495kB'
      min_wal_size: '512MB'
      max_wal_size: '2GB'

  initdb:
    database: authentik
    owner: maxmorhardt
    secret:
      name: postgres-admin-user
    encoding: UTF8

backups:
  enabled: true
  destinationPath: 's3://maxstash-io-bucket/postgresql/'
  provider: s3
  secret:
    create: false
    name: aws-s3-credentials

  wal:
    compression: gzip
    encryption: AES256
    maxParallel: 1

  data:
    compression: gzip
    encryption: AES256
    jobs: 2

  scheduledBackups:
    - name: daily-backup
      schedule: '0 0 * * *'
      backupOwnerReference: self
      method: barmanObjectStore

  retentionPolicy: '30d'

imageCatalog:
  create: false

poolers: []
