image:
  tag: latest
  pullPolicy: Always

global:
  storageClass: postgres
  postgresql:
    auth:
      username: maxmorhardt
      database: keycloak
      existingSecret: postgres-credentials
      secretKeys:
        adminPasswordKey: admin-password
        userPasswordKey: user-password

primary:
  service:
    type: ClusterIP
    ports:
      postgresql: 5432

  nodeSelector:
    kubernetes.io/hostname: max-worker

  persistence:
    size: 256Gi

  resources:
    requests:
      cpu: 2
      memory: 4Gi
    limits:
      cpu: 2
      memory: 4Gi

metrics:
  enabled: true
