image:
  repository: public.ecr.aws/docker/library/redis
  tag: latest
  pullPolicy: Always

replicas: 3

auth: false

persistentVolume:
  enabled: true
  storageClass: longhorn
  size: 8Gi

redis:
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 100m
      memory: 256Mi

sentinel:
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 50m
      memory: 64Mi

haproxy:
  enabled: true
  replicas: 1
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 50m
      memory: 64Mi

exporter:
  enabled: true
  image: oliver006/redis_exporter
  tag: latest
  pullPolicy: Always
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 50m
      memory: 64Mi

serviceAccount:
  create: true