global:
  defaultStorageClass: longhorn
  security:
    allowInsecureImages: true

image:
  registry: docker.io
  repository: bitnamilegacy/redis
  tag: 8.2.1
  pullPolicy: IfNotPresent

architecture: standalone

auth:
  enabled: false

master:
  count: 1
  persistence:
    enabled: true
    storageClass: longhorn
    size: 8Gi
  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 500m
      memory: 1Gi

replica:
  replicaCount: 0

sentinel:
  enabled: false

metrics:
  enabled: true
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 50m
      memory: 64Mi
  serviceMonitor:
    enabled: true
