global:
  defaultStorageClass: longhorn
  security:
    allowInsecureImages: true

image:
  registry: docker.io
  repository: bitnamilegacy/redis
  tag: 8.2.1
  pullPolicy: IfNotPresent

architecture: replication

auth:
  enabled: false

replica:
  replicaCount: 2
  persistence:
    enabled: true
    storageClass: longhorn
    size: 8Gi
  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: 250m
      memory: 512Mi

sentinel:
  enabled: true
  image:
    registry: docker.io
    repository: bitnamilegacy/redis-sentinel
    tag: 8.2.1
    pullPolicy: IfNotPresent
  quorum: 2
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 50m
      memory: 64Mi

metrics:
  enabled: true
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 50m
      memory: 64Mi
  serviceMonitor:
    enabled: true
