image:
  tag: latest
  pullPolicy: Always

architecture: standalone

auth:
  enabled: false

master:
  count: 1
  revisionHistoryLimit: 2
  resources:
    requests:
      cpu: 250m
      memory: 1Gi
    limits:
      cpu: 250m
      memory: 1Gi
  nodeSelector:
    kubernetes.io/hostname: max-worker-3
  persistence:
    enabled: true
    path: /data
    storageClass: redis
    accessModes:
      - ReadWriteOnce
    size: 8Gi
    existingClaim: redis
  persistentVolumeClaimRetentionPolicy:
    enabled: true
    whenScaled: Retain
    whenDeleted: Retain
  pdb:
    create: true
    minAvailable: 1

metrics:
  enabled: true
  image:
    pullPolicy: Always
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 50m
      memory: 64Mi
