name: Deploy Authentik

on:
  workflow_dispatch:

jobs:
  deploy:
    uses: maxmorhardt/workflows/.github/workflows/cd-helm.yml@main
    with:
      repository: maxmorhardt/k8s
      release_name: authentik
      namespace: authentik
      values_file: authentik/values.yaml
      helm_repo_name: authentik
      helm_repo_url: https://charts.goauthentik.io
      chart: authentik/authentik
      timeout: 15m
    secrets:
      kube_config: ${{ secrets.KUBE_CONFIG }}
