name: Authentik CD

on:
  workflow_dispatch:

jobs:
  cd:
    uses: maxmorhardt/workflows/.github/workflows/cd-helm.yml@main
    with:
      repository: ${{ github.repository }}
      release_name: authentik
      namespace: authentik
      values_file: authentik/values.yaml
      helm_repo_name: authentik
      helm_repo_url: https://charts.goauthentik.io
      chart: authentik/authentik
      timeout: 15m
    secrets: inherit
