name: PostgreSQL CD

on:
  workflow_dispatch:
    inputs:
      chart_version:
        description: PostgreSQL chart version to deploy
        required: false
        type: string
        default: '18.2.0'

jobs:
  cd:
    uses: maxmorhardt/workflows/.github/workflows/cd-helm.yml@main
    with:
      repository: ${{ github.repository }}
      release_name: db
      namespace: db
      values_file: postgres/values.yaml
      chart: oci://docker.io/bitnamicharts/postgresql
      chart_version: ${{ github.event.inputs.chart_version }}
    secrets: inherit
