name: PostgreSQL Operator CD

on:
  workflow_dispatch:
    inputs:
      chart_version:
        description: CloudNativePG operator version to deploy
        required: false
        type: string
        default: '0.27.0'

jobs:
  cd:
    uses: maxmorhardt/workflows/.github/workflows/cd-helm.yml@main
    with:
      repository: ${{ github.repository }}
      release_name: cloudnativepg
      namespace: cnpg-system
      values_file: postgres/values-operator.yaml
      helm_repo_name: cnpg
      helm_repo_url: https://cloudnative-pg.github.io/charts
      chart: cnpg/cloudnative-pg
      chart_version: ${{ github.event.inputs.chart_version }}
    secrets: inherit
